.words-container {
    font-weight: bold;
    color: #FFFFFF;
  
    .words-before {
      color: #737373
    }
    .word-to-type {
      text-decoration: underline;
    }
  
    .words-after {
  
    }
  }
  
.typingform {
  input.form-control {
    font-size: 20px;
  }
}
  